<html>
  <body>
  <div class="main">
   <span><%= request.remote_ip%></span>
   <span><%= request.env['HTTP_X_FORWARDED_FOR']%></span>
  </div>
  <%= webpack_include_javascript("app")%>
  <%= webpack_link_css("app")%>
  </body>
</html>
